# Week 1: Workshop Activities (More on Repeating Actions & Giving Names to Data)
---
---
## Reflective Learning

1. Given a list, write a Python program to swap the first and last elements of the list.

Examples: 

Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]

In [3]:
lst = [1,2,3,4,5,6]
lst[0],lst[-1]=lst[-1],lst[0]
lst

[6, 2, 3, 4, 5, 1]

2. Given a list in Python and a number x, count the number of occurrences of x in the given list.

Examples:  

Input : lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
         x = 10

Output : 3 #10 appears three times in given list.

Input : lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
        x = 16
        
Output : 0

In [4]:
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
x = 10
lst.count(x)

3

 3. Given a list in Python and a number x, check if the element exists in the given list.

Examples:  
```
Input : lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
         x = 10
Output : Exist

Input : lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
        x = 16
Output : Does not Exist
```

In [5]:
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
x = 10
if x in lst:
    print("exist")
else:
    print("Does not exist")

exist

## Practice For Loops - Part 1
---

1. How many times will the line "print(i)" be executed? 
```python
for i in range(4, 20, 4):
    print (i)
```

In [6]:
for i in range(4, 20, 4):
    print (i)

4
8
12
16

2. What is the output of the code below?
```python

li = ['a', 'b', 'c', 'd', 'e']
s = ''
for i in range(len(li)-1):
    s = s + str(i)
print(s)
```

In [1]:
li = ['a', 'b', 'c', 'd', 'e']
s = ''
for i in range(len(li)-1):
    s = s + str(i)
print(s)

0123

3. What is the output of the following code?
```python
li = []
for i in range(0, 10):
    li.append(i)
print(li)
```

In [7]:
li = []
for i in range(0, 10):
    li.append(i)
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

 4.  What is the output of the code below?
```python
li = []
for i in range(0, 50, 3):
    li.append(i)
print(li)
```

In [8]:
li = []
for i in range(0, 50, 3):
    li.append(i)
print(li)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

5. Write a for loop so that every item in the following list is printed: `[10, 20, 9, 22, 12, 19]`

In [9]:
for i in [10, 20, 9, 22, 12, 19]:
    print(i)

10
20
9
22
12
19

6. Write a for loop to flatten the following list into the 1D list: [[1,2,3],[4, 5, 6],[7, 8, 9]]

    The expected output is [1, 2, 3, 4, 5, 6, 7, 8, 9].

In [10]:
lst = []
for i in  [[1,2,3],[4, 5, 6],[7, 8, 9]]:
    lst.extend(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Practice For Loops - Part 2
---

1. Write a for loop which appends the cube of each number in the following list to the new list: [10, 20, 9, 22, 12, 19]

In [11]:
lst=[]
for i in [10, 20, 9, 22, 12, 19]:
    lst.append(i**2)
lst

[100, 400, 81, 484, 144, 361]

2. Write a for loop which appends the type of each element in the following list, except dictionaries to the second list.
```
["John", 12, 36.93, [], {}, ["John", "Danise", "David"], {"y":900}, "dog", 12, "duck", 19.91, 19]
```

In [23]:
lst = []
for i in ["John", 12, 36.93, [], {}, ["John", "Danise", "David"], {"y":900}, "dog", 12, "duck", 19.91, 19]:
    if type(i) == dict:
        pass
    else:
        lst.append(type(i))
lst

[str, int, float, list, list, str, int, str, float, int]

3. From the following list, make new lists, containing only numbers that are divisible by 4, 6, 8 and 9 in separate lists.

`[1, 10, 12, 20, 19, 93, 91, 21, 30, 33, 36, 49, 120, 136]`

In [13]:
lst4,lst6,lst8,lst9 = [],[],[],[]
for i in [1, 10, 12, 20, 19, 93, 91, 21, 30, 33, 36, 49, 120, 136]:
    if i % 4 ==0:
        lst4.append(i)
    if i % 6 ==0:
        lst6.append(i)
    if i % 8 ==0:
        lst8.append(i)
    if i % 9 ==0:
        lst9.append(i)
lst4,lst6,lst8,lst9

([12, 20, 36, 120, 136], [12, 30, 36, 120], [120, 136], [36])

4. From the following list, make three lists to store ints, strings and floats separately.

`["John", 12, 36.93, [], {}, ["John", "Danise", "David"], {"y":900}, "dog", 12, "duck", 19.91, 19]`

In [21]:
String, Integer , flt, lst, dictionary = [],[],[],[],[]
for i in ["John", 12, 36.93, [], {}, ["John", "Danise", "David"], {"y":900}, "dog", 12, "duck", 19.91, 19]:
    if type(i) == str:
        String.append(i)
    elif type(i) == int:
        Integer.append(i)
    elif type(i) == float:
        flt.append(i)
    elif type(i) == list:
        lst.append(i)
    elif type(i) == dict:
        dictionary.append(i)
    else:
        pass
String, Integer , flt, lst, dictionary

(['John', 'dog', 'duck'],
 [12, 12, 19],
 [36.93, 19.91],
 [[], ['John', 'Danise', 'David']],
 [{}, {'y': 900}])

5. Print the following pattern using for loops.
```
*
* *
* * *
* * * *
```

In [16]:
for i in range(1,5,1):
    print('* '*i)

*
* *
* * *
* * * *

6. Extend the previous code to print numbers, instead of stars, as follows.
```
1
1 2
1 2 3
1 2 3 4
```

In [19]:
for i in range(1,5,1):
    str1 = ""
    for j in range(1,i+1,1):
        str1+=str(j)+" "
    print(str1)

1
1 2
1 2 3
1 2 3 4

## Practice Dictionaries
---

1. Which of the following are correct dictionaries?
```
day = {1: 'm', 2: 't', 3: 'w'} --> valid
day = (1; 'm', 2; 't', 3; 'w')
day = [1: 'm', 2: 't', 3: 'w']
day = {1 'm', 2 't', 3 'w'} 
```

2. Write the two ways to construct an empty dictionary.

In [20]:
d1 = {}
d2 = dict()

3. What are the differences between dictionaries and lists?

Lists are just like the arrays, declared in other languages. Lists need not be homogeneous always which makes it a most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

Dictionary in Python on the other hand is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key-value is provided in the dictionary to make it more optimized. Each key-value pair in a Dictionary is separated by a colon :, whereas each key is separated by a ‘comma’.

4. Write a Python program to convert the following two lists into a dictionary in a way that items from `li1` is the key and item from `li2` is the value.
```
li1 = ['John', 'Denise', 'David']
li2 = [10, 20, 30]
```

In [25]:
li1 = ['John', 'Denise', 'David']
li2 = [10, 20, 30]
d1 =dict()
for i in range(0,len(li1)):
    d1[li1[i]]=li2[i]
d1

{'John': 10, 'Denise': 20, 'David': 30}

5. Using for loop and conditional statements, append the value plus 600 for each key to the new list, if the value is above 200. i.e., if the value is 600, 1200 should be added to the new list.

`{"y":120, "w": 1100, "m": 190, "n": 1050, "l": 3200, "j": 400}`

In [35]:
d1 = {"y":120, "w": 1100, "m": 190, "n": 1050, "l": 3200, "j": 400}
lst =[]
for i in d1.keys():
    if d1[i] > 200:
        lst.append(d1[i] + 600)
print(lst)

[1700, 1650, 3800, 1000]

6. Merge the following two dictionaries into one.
```
names1 = {'John': 10, 'Denise': 20, 'David': 30}
names2 = {'David': 30, 'Emma': 12, 'Finley': 19}
```

In [27]:
names1 = {'John': 10, 'Denise': 20, 'David': 30}
names2 = {'David': 30, 'Emma': 12, 'Finley': 19}
names3 = names1.copy()
names3.update(names2)
print(names3)

{'John': 10, 'Denise': 20, 'David': 30, 'Emma': 12, 'Finley': 19}

7. Check if "John" is in the following dictionary.

`names = {'John': 10, 'Denise': 20, 'David': 30, 'Emma': 12, 'Kelly': 19, 'Finley': 30}`

In [28]:
names = {'John': 10, 'Denise': 20, 'David': 30, 'Emma': 12, 'Kelly': 19, 'Finley': 30}
"John" in names.keys()

True

8. Change "location" to "city" in the following dictionary.
```
details = {
    "name": "Danise",
    "age": 30,
    "salary": 90000,
    "location": "Adelaide"
}
```

In [36]:
details = {
    "name": "Danise",
    "age": 30,
    "salary": 90000,
    "location": "Adelaide"
}
details['city']=details.pop('location')
details

{'name': 'Danise', 'age': 30, 'salary': 90000, 'city': 'Adelaide'}

9. Delete the "salary" and "location" from the following dictionary.
```
details = {
    "name": "Danise",
    "age": 30,
    "salary": 90000,
    "location": "Adelaide"
}
```

In [33]:
details = {
    "name": "Danise",
    "age": 30,
    "salary": 90000,
    "location": "Adelaide"
}
details.pop('location')
details.pop('salary')
details

{'name': 'Danise', 'age': 30}

10. Change the salary of "John" to 102000 in the following dictionary.
```
details = {
    'emp_1': {'name': 'John', 'salary': 90000},
    'emp_2': {'name': 'Emma', 'salary': 93000},
    'emp_3': {'name': 'Danise', 'salary': 120000}
} 
```

In [39]:
details = {
    'emp_1': {'name': 'John', 'salary': 90000},
    'emp_2': {'name': 'Emma', 'salary': 93000},
    'emp_3': {'name': 'Danise', 'salary': 120000}
} 
for key,valve in details.items():
    if valve['name']=="John":
        valve['salary']=102000
    
details

{'emp_1': {'name': 'John', 'salary': 102000},
 'emp_2': {'name': 'Emma', 'salary': 93000},
 'emp_3': {'name': 'Danise', 'salary': 120000}}

Extra:

In [40]:
for i in [1,2,3,4,5,6]:
    print(i)
    i+=1
    print(i)

1
2
2
3
3
4
4
5
5
6
6
7