# Week 1: Workshop Activities (More on Repeating Actions & Giving Names to Data)
---
---
## Reflective Learning

1. Given a list, write a Python program to swap the first and last elements of the list.

Examples: 

Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]

2. Given a list in Python and a number x, count the number of occurrences of x in the given list.

Examples:  

Input : lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
         x = 10

Output : 3 #10 appears three times in given list.

Input : lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
        x = 16
        
Output : 0

 3. Given a list in Python and a number x, check if the element exists in the given list.

Examples:  
```
Input : lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
         x = 10
Output : Exist

Input : lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
        x = 16
Output : Does not Exist
```

## Practice For Loops - Part 1
---

1. How many times will the line "print(i)" be executed? 
```python
for i in range(4, 20, 4):
    print (i)
```

2. What is the output of the code below?
```python

li = ['a', 'b', 'c', 'd', 'e']
s = ''
for i in range(len(li)-1):
    s = s + str(i)
print(s)
```

In [ ]:

li = ['a', 'b', 'c', 'd', 'e']
s = ''
for i in range(len(li)-1):
    s = s + str(i)
print(s)

3. What is the output of the following code?
```python
li = []
for i in range(0, 10):
    li.append(i)
print(li)
```

In [ ]:
li = []
for i in range(0, 10):
    li.append(i)
print(li)

 4.  What is the output of the code below?
```python
li = []
for i in range(0, 50, 3):
    li.append(i)
print(li)
```

In [ ]:
li = []
for i in range(0, 50, 3):
    li.append(i)
print(li)

5. Write a for loop so that every item in the following list is printed: `[10, 20, 9, 22, 12, 19]`

6. Write a for loop to flatten the following list into the 1D list: [[1,2,3],[4, 5, 6],[7, 8, 9]]

    The expected output is [1, 2, 3, 4, 5, 6, 7, 8, 9].

## Practice For Loops - Part 2
---

1. Write a for loop which appends the cube of each number in the following list to the new list: [10, 20, 9, 22, 12, 19]

2. Write a for loop which appends the type of each element in the following list, except dictionaries to the second list.
```
["John", 12, 36.93, [], {}, ["John", "Danise", "David"], {"y":900}, "dog", 12, "duck", 19.91, 19]
```

3. From the following list, make new lists, containing only numbers that are divisible by 4, 6, 8 and 9 in separate lists.

`[1, 10, 12, 20, 19, 93, 91, 21, 30, 33, 36, 49, 120, 136]`

4. From the following list, make three lists to store ints, strings and floats separately.

`["John", 12, 36.93, [], {}, ["John", "Danise", "David"], {"y":900}, "dog", 12, "duck", 19.91, 19]`

5. Print the following pattern using for loops.
```
*
* *
* * *
* * * *
```

6. Extend the previous code to print numbers, instead of stars, as follows.
```
1
1 2
1 2 3
1 2 3 4
```

## Practice Dictionaries
---

1. Which of the following are correct dictionaries?
```
day = {1: 'm', 2: 't', 3: 'w'}
day = (1; 'm', 2; 't', 3; 'w')
day = [1: 'm', 2: 't', 3: 'w']
day = {1 'm', 2 't', 3 'w'}
```

2. Write the two ways to construct an empty dictionary.

3. What are the differences between dictionaries and lists?

4. Write a Python program to convert the following two lists into a dictionary in a way that items from `li1` is the key and item from `li2` is the value.
```
li1 = ['John', 'Denise', 'David']
li2 = [10, 20, 30]
```

5. Using for loop and conditional statements, append the value plus 600 for each key to the new list, if the value is above 200. i.e., if the value is 600, 1200 should be added to the new list.

`{"y":120, "w": 1100, "m": 190, "n": 1050, "l": 3200, "j": 400}`

6. Merge the following two dictionaries into one.
```
names1 = {'John': 10, 'Denise': 20, 'David': 30}
names2 = {'David': 30, 'Emma': 12, 'Finley': 19}
```

7. Check if "John" is in the following dictionary.

`names = {'John': 10, 'Denise': 20, 'David': 30, 'Emma': 12, 'Kelly': 19, 'Finley': 30}`

8. Change "location" to "city" in the following dictionary.
```
details = {
    "name": "Danise",
    "age": 30,
    "salary": 90000,
    "location": "Adelaide"
}
```

9. Delete the "salary" and "location" from the following dictionary.
```
details = {
    "name": "Danise",
    "age": 30,
    "salary": 90000,
    "location": "Adelaide"
}
```

10. Change the salary of "John" to 102000 in the following dictionary.

details = {
    'emp_1': {'name': 'John', 'salary': 90000},
    'emp_2': {'name': 'Emma', 'salary': 93000},
    'emp_3': {'name': 'Danise', 'salary': 120000}
}