# Week 3: Workshop Activities (Other Data Types & Consolidation and Review)
---

## Reflective Learning

1. Write the output of the following.
```python
str = 'String Slicing in Python'

print(str [13 : 18])
print(str[ -2 : -4 : -2])
print(str [12 : 18 : 2])
print(str[-17 : -1 : 1])
print(str[-6 : -20 : -2])
print(str[0 : 9 : 3])
print(str[19 : 29])
print(str[-6 : -9 : -3])
print(str[-9 : -0 : -1])
print(str[2 : 16 : 3])
```

In [1]:
str1 = 'String Slicing in Python'

print(str1[13 : 18])
print(str1[ -2 : -4 : -2])
print(str1[12 : 18 : 2])
print(str1[-17 : -1 : 1])
print(str1[-6 : -20 : -2])
print(str1[0 : 9 : 3])
print(str1[19 : 29])
print(str1[-6 : -9 : -3])
print(str1[-9 : -0 : -1])
print(str1[2 : 16 : 3])

g in
o
n n
Slicing in Pytho
Pn ncl
Si
ython
P
i gnicilS gnirt
rgli

2. Slice a given user-inputted word from beginning to the end with steps of 2 (including the last character).

In [2]:
txt = 'String Slicing in Python!'
txt[0::2]

'Srn lcn nPto!'

3. Now slice the word with steps of 2, excluding the first and last characters.

In [3]:
txt = 'String Slicing in Python'
txt[1:-1:2]

'tigSiigi yh'

4. Slice the following list so that it's reversed without using the .reverse() method.
```python
lst = [0,1,2,3,4]
```

In [4]:
lst = [0,1,2,3,4]
lst[::-1]

[4, 3, 2, 1, 0]

5. Slice the above list so that only the last 2 elements are included.

In [5]:
lst = [0,1,2,3,4]
lst[-2:]

[3, 4]

6. Slice the second and third elements (50 and 20) in the following list.
```python
lst = [40,50,20,30,90]
```

In [6]:
lst = [40,50,20,30,90]
lst[1:3]

[50, 20]

## Practice Tuples
---

1. Write a Python program to convert the following tuple into a string.

`t1 = (1,2,3,4,5)`

In [7]:
t1 = (1,2,3,4,5)
str2=''
for i in t1:
    str2+=str(i)
str2

'12345'

2. Write a Python program to create a tuple with different data types.

In [8]:
tup = tuple([1,2,3,'4',5.0])
tup

(1, 2, 3, '4', 5.0)

3. Write a Python program to find the repeated items of the following tuple. 

`t1 = (1,1,3,1,3,3,2,1,4,5)`

In [9]:
t1 = (1,1,3,1,3,3,2,1,4,5)
d1=dict()
for i in t1:
    if i in d1:
        d1[i]+=1
    else:
        d1[i]=1
lst = [x for x,y in d1.items() if y>1]
lst

[1, 3]

4. Write a Python program to get the 4th element and 4th element from the last of the following tuple.

`t1 = ("John", True, 1, 4.5, "Danise", "Kelly", 19, 19.1, False, None, 12)`

In [10]:
t1 = ("John", True, 1, 4.5, "Danise", "Kelly", 19, 19.1, False, None, 12)
print(t1[4],t1[-4])

Danise 19.1

5. Write a Python program to convert the following list into a tuple.

`l1 = ["green", "blue", "pink", "brown"]`

In [11]:
l1 = ["green", "blue", "pink", "brown"]
tup1 = tuple(l1)
tup1

('green', 'blue', 'pink', 'brown')

6. Write a Python program to reverse the following tuple.

t1 = (10, 20, 30, 40, 50)

In [12]:
t1 = (10, 20, 30, 40, 50)
t1_rev = t1[::-1]
t1_rev

(50, 40, 30, 20, 10)

7. Write a Python program to access 20 from the following tuple.

t1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [13]:
t1 = ("Orange", [10, 20, 30], (5, 15, 25))
t1[1][1]

20

8. Write a Python program to create a tuple with a single element 12.

In [14]:
tup1 = ([12])
tup1

[12]

9. Write a Python program to unpack the following tuple into 4 variables.

`t1 = (10, 20, 30, 40)`

In [15]:
t1 = (10, 20, 30, 40)
var1,var2,var3,var4 = t1
var1,var2,var3,var4

(10, 20, 30, 40)

10. Write a Python program to count the number of occurrences 10 is in the following tuple.

`t1 = (10, 10, 10, 20, 30, 40, 50, 10)`

In [16]:
t1 = (10, 10, 10, 20, 30, 40, 50, 10)
t1.count(10)

4

## Practice Sets
---

1. Write a Python program to iteration over the following set.

`s1 = set([1,2,1,2,12,10])`

In [17]:
s1 = set([1,2,1,2,12,10])
for i in s1:
    print(i)

1
2
10
12

2. Write a Python program to identify identical items in the following two sets using set operations.
```python
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
```

In [18]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
s1.intersection(s2)

{30, 40, 50}

3. Write a Python program to identify unique items from the following two sets by removing duplicates.
```python
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
```

In [19]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
s1.difference(s2).union(s2.difference(s1))

{10, 20, 60, 70}

4. Write a Python program to check whether the following two sets have any elements in common. If yes, display the common elements.
```python
s1 = {10, 20, 30, 40, 50}
s2 = {60, 70, 80, 90, 10}
```

In [20]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
print(s1.intersection(s2))

{40, 50, 30}

5. Given the following two sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.
```python
s1 = {10, 20, 30}
s2 = {20, 40, 50}
```

In [21]:
s1 = {10, 20, 30}
s2 = {20, 40, 50}
s1 = s1.difference(s2)
s1

{10, 30}

6. Write a Python program to remove 12 from the following set.
```python
s1 = set([1,2,1,2,12,10])
```

In [22]:
s1 = set([1,2,1,2,12,10])
s1.remove(12)
s1

{1, 2, 10}

7. Write a Python program to insert 20 to the following set.
```python
s1 = {10, 20, 30, 40, 50}
```

In [23]:
s1 = {10, 20, 30, 40, 50}
s1.add(20)
s1

{10, 20, 30, 40, 50}

8. What is "difference" and "symmetric difference" in set operations?

* Difference: Elements present on one set, but not on the other. 
* Symmetric Difference: Elements from both sets, that are not present on the other.

9. Write a Python program to remove all the items in the following set.
```python
s1 = {10, 20, 30, 40, 50}
```

In [24]:
s1 = {10, 20, 30, 40, 50}
s1 = set().difference(s1)
s1

set()

10. Which of the following define the set {'m', 'n', 'y'}.

s = set('mny')

s = set('m', 'n', 'y')

s = {'m', 'n', 'y'}

s = set(['m', 'n', 'y'])

In [25]:
s = set('mny')

#s = set('m', 'n', 'y')

s1 = {'m', 'n', 'y'}

s2 = set(['m', 'n', 'y'])
s,s1,s2

({'m', 'n', 'y'}, {'m', 'n', 'y'}, {'m', 'n', 'y'})