In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline
import otter
grader = otter.Notebook()

# A2 | Week 3: Practice More on Lists and Dictionaries

------

### Instructions:

- Complete 50 points worth of questions to pass the assessment
  - You can attempt any number of questions and in any order provided you pass at least 50 points.
- Develop and check your answers in the spaces provided.
  - Do not remove any variables other provided markings already present in the answer spaces.
  - Do not make any changes to this notebook outside of the answer spaces provided.
  
#### Submitting

- Upload your .ipynb file to Gradescope (Make sure to restart the kernel and run all before you submit)
- You can submit as many times as needed
- When reviewing results, ignore any results listed under "Public Tests"

For more information, see the assessment page. We have also provided an example question below for clarity.

#### Question 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3 Points)

Complete the following function `q1_create_lists` that returns a list of first 5 natural numbers `1,2,3,4,5` in a list named `q1_list`.

In [ ]:
def q1_create_lists():
    # Write your solution here
    q1_list = [1,2,3,4,5]
    return q1_list

#### Question 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3 Points)

Complete the following function `q2_length_of_list` that stores the length of given list, `marvel_characters` in `number_of_characters`.

In [ ]:
"""
marvel_characters = ["Scarlet Witch","Wong","Nicodemus West","Gargantos","Strange Supreme","Mr. Fantastic","Rintrah"]
"""
def q2_length_of_list(marvel_characters):
    # Write your solution here
    number_of_characters = len(marvel_characters)
    return number_of_characters

#### Question 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3 Points)
Complete the following function `q3_create_dict` to store a dictionary in `super_hero_ranks` with ***Name as keys*** and ***Power as values*** using the following data.

| Name | Power |
| --- | --- |
| Wong | 70 |
| Scarlet Witch | 99 |
| Strange Supreme | 95 |
| Mr. Fantastic | 80 |
| Rintrah | 75 |

In [19]:
def q3_create_dict():
    # Write your solution here
    super_hero_ranks = {
        'Wong' : 70,
        'Scarlet Witch' : 99,
        'Strange Supreme' : 95,
        'Mr. Fantastic' : 80,
        'Rintrah' : 75
    }
    
    return super_hero_ranks

#### Question 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3 Points)
Complete the following function `q4_dict_add_ele` that adds ***'Seattle' as a key*** and ***'Mariners' as value*** to `baseball_teams`.

In [ ]:
"""
baseball_teams = {'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins','Milwaukee': 'Brewers'}
"""
def q4_dict_add_ele(baseball_teams):
    # Write your solution here
    baseball_teams['Seattle']='Mariners'
    return baseball_teams

#### Question 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3 Points)
Complete the function `q5_update_dict` that sets the values for key ***'Minnesota'*** as ***'Minnesota Twins'*** in the given dictionary `q5_baseball_teams`.

In [ ]:
"""
q5_baseball_teams = {'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins','Milwaukee': 'Brewers'}
"""
def q5_update_dict(q5_baseball_teams):
    # Write your solution here
    q5_baseball_teams['Minnesota'] =  'Minnesota Twins'
    
    return q5_baseball_teams

#### Question 6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)
Complete the function `q6_concat_lists` that takes in two lists `q6_list1`,`q6_list2` and concatonates them into `q6_list1`.

In [1]:
"""
q6_list1 = [1,2,3,4,5]
q6_list2 = [-1,-2,-3,-4,-5]
"""
def q6_concat_lists(q6_list1,q6_list2):
    # Write your solution here
    q6_list1.extend(q6_list2)
    
    return q6_list1

#### Question 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)
Complete the function `q7_repeat_lists` that takes in a list `q7_list1` and creates a new list `q7_list2` that stores `q7_list1` repeated 5 times.

In [ ]:
"""
q7_list1 = [1,2,3,4,5]
"""
def q7_repeat_lists(q7_list1):
    # Write your solution here
    q7_list2 = q7_list1*5
    
    return q7_list2

#### Question 8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)
Complete the function `q8_check_val` stores `True` in `found_val` if value in `element_to_find` is present in `q8_list` otherwise stores `False` in `found_val`.

In [1]:
"""
q8_list = ["1950 Norton Manx", "1923 BMW R32", "1940 Indian Chief", "1937 Triumph Speed Twin", "2002 Harley-Davidson VRSCA", "2007 Aprilia SXV" ]
element_to_find = "1950 Norton Manx"
"""
def q8_check_val(q8_list,element_to_find):
    # Write your solution here
    found_val = element_to_find in q8_list
    
    return found_val

#### Question 9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)
Complete the function `q9_update_list` that removes `ele_to_remove` from `q9_list1`.


**Example**

```
q9_update_list( [1,2,3,4,5] , 1) should return [2, 3, 4, 5]
```

**Hint**: Use loops to iterate over values in a list

In [2]:
def q9_update_list(q9_list1,ele_to_remove):
    # Write your solution here
    q9_list1.remove(ele_to_remove)
    return q9_list1

#### Question 10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)
Complete the function `q10_sort_list` that sorts a list of greek gods stored in a list `greek_gods` in ***descending*** order.

In [3]:
"""
greek_gods = ["Zeus", "Poseidon", "Hera", "Hestia", "Demeter", "Hades", "Apollo", "Artemis", "Hermes", "Athena", "Hephaestus", "Aphrodite", "Ares"]
"""

def q10_sort_list(greek_gods):
    # Write your solution here
    greek_gods.sort(reverse=True)
    return greek_gods

#### Question 11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)
You are given a list of values in `q11_list1` of variable length and `q11_list2` of length 5.
Complete the function `q11_value_counts` that stores how many times values of `q11_list2` are present in `q11_list1` in a ***dictionay*** `q11_dict`.

**Example**

```
q11_list1 = [1,1,1,1,2,2,2,3,3,3,4]
q11_list2 = [1,2,3,4,5]
q11_value_counts should be {1: 4, 2: 3, 3: 3, 4: 1, 5: 0}
```

**Hint**: Use loops to iterate over values in a list

In [5]:
"""
q11_list1 = [1,1,1,1,2,2,2,3,3,3,4]
q11_list2 = [1,2,3,4,5]
"""
def q11_value_counts(q11_list1,q11_list2):
    q11_dict = {}
    # Write your solution here
    for i in q11_list2:
        q11_dict[i]=q11_list1.count(i)
    return q11_dict

#### Question 12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)
You are given a list of values in `q12_list1` and `q12_list2`.
Complete the function `q12_remove_vals` that removes ***all occurances*** of values in `q12_list2` present in `q12_list1` and returns the updated `q12_list1`.

**Example**

`q12_list1 = [1,2,3,4,5,6,7,8,9,10]
q12_list2 = [1,2,3,4,5]
q12_value_counts should be [6,7,8,9,10]`

**Hint**: Use loops to iterate over values in a list

In [26]:
"""
q12_list1 = [1,2,3,4,5,6,7,8,9,10]
q12_list2 = [1,2,3,4,5,15]
"""

def q12_remove_vals(q12_list1,q12_list2):
    # Write your solution here
    for i in q12_list2:
        while i in q12_list1:
            q12_list1.remove(i)
    return q12_list1

#### Question 13&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)
You are given a list of values in `q13_list1`.
Complete the function `q13_split_vals` returns a dictionary `q13_split` created from the list by splitting these values into lists of `odd`, `even` and `float` values. If the value is not an `int` or `float` add this value to `others`

**Example**

```
q13_list1 = [1,2,3,4,5,6,7,8,9,10,5.6,8.56,100.45]
q13_split = {'odd': [1, 3, 5, 7, 9], 'even': [2, 4, 6, 8, 10], 'float': [5.6, 8.56, 100.45], 'others': []}
```


**Hint**: Use loops to iterate over values in a list

In [22]:
def q13_split_vals(q13_list1):
    q13_splits = {'odd':[],'even':[],'float':[],'others':[]}
    # Write your solution here
    for i in q13_list1:
        if type(i)==int:
            if i%2==1:
                q13_splits['odd'].append(i)
            elif i%2==0:
                q13_splits['even'].append(i)
        elif type(i)==float:
            q13_splits['float'].append(i)
        else:
            q13_splits['others'].append(i)
    return q13_splits
q13_split_vals([1,2,3,"4",5,"6",7,8,9,10,5.6,8.56,100.45])

{'odd': [1, 3, 5, 7, 9],
 'even': [2, 8, 10],
 'float': [5.6, 8.56, 100.45],
 'others': ['4', '6']}

#### Question 14&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)
You are given a list of dictionaries in `sitcom1`.
Complete the function `q14_extract_values` returns a new dictionary `q13_values` created from the list of dictionaries by extracting only values for `name` and `age` for every `Actor`.

**Example**

```
Sitcom1 = [
    Actor1 : {
        "name": "Jerry",
        "age": 68,
        "pay": 50000,
        "city": "Adelaide"},
    Actress1 : {
        "name": "Elaine",
        "time_of_employment": 61,
        "pay": 28000,
        "city": "Sydney"},
    Actor2 : {
        "name": "George",
        "age": 74,
        "salary": 34000,
        "city": "New york"},
    Actor3 : {
        "name": "Kramer",
        "age": 72,
        "salary": 40000,
        "city": "New york"}
        ]
   

# Keys to extract
keys = ["name", "salary"]

q13_values = 
{'Actor1': {'name': 'Jerry', 'age': 68}, 'Actor2': {'name': 'George', 'age': 74}, 'Actor3': {'name': 'Kramer', 'age': 72}}

```


**Hint**: Use loops to iterate over dictionary elements and dictionary methods
```
items() to get all the key:value pairs
keys() get all the keys
values() get all the values
```

In [12]:
def q14_extract_values(sitcom1):
    q13_values ={}
    # Write your solution here
    for k,v in sitcom1.items():
        if k.startswith('Actor'):
            q13_values[k]={'name':v['name'],'age':v['age']}
    return q13_values

#### Question 15&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)
You are given a dictionary of marks of students in `q15_dict`.
Complete the function `q15_min_max_calc` which extracts `max` and `min` marks of every student in `q15_dict` and returns a dictionary `q15_min_max` with ***keys as student_name*** and ***values as students min and max marks***.

**Example**
```
q15_dict ={
    'James':    {'OOP': 60, 'FCS': 70, 'DSA':89 ,'AML':69},
    'Mark':     {'OOP': 76, 'FCS': 76, 'DSA':89 ,'AML':77},
    'Mary':     {'OOP': 65, 'FCS': 34, 'DSA':34 ,'AML':88},
    'Anthony' : {'OOP': 34, 'FCS': 90, 'DSA':94 ,'AML':99},
    'Zelda' :   {'OOP': 87, 'FCS': 45, 'DSA':89 ,'AML':76},
    'Quorra' :  {'OOP': 12, 'FCS': 66, 'DSA':50.55 ,'AML':45},
    'Stephan' : {'OOP': 65, 'FCS': 78, 'DSA':67 ,'AML':70}
}
```
```
q15_min_max = {
     'Anthony': {'max': {'AML': 99}, 'min': {'OOP': 34}},
     'James': {'max': {'DSA': 89}, 'min': {'OOP': 60}},
     'Mark': {'max': {'DSA': 89}, 'min': {'FCS': 76}},
     'Mary': {'max': {'AML': 88}, 'min': {'DSA': 34}},
     'Quorra': {'max': {'FCS': 66}, 'min': {'OOP': 12}},
     'Stephan': {'max': {'FCS': 78}, 'min': {'OOP': 65}},
     'Zelda': {'max': {'DSA': 89}, 'min': {'FCS': 45}}
}
```


**Hint**: Use loops to iterate over dictionary elements, python inbuilt methods min() and max() and dictionary methods
```
items() to get all the key:value pairs
keys() get all the keys
values() get all the values
```

In [25]:
"""
q15_dict = \
    {
        'James':    {'OOP': 60, 'FCS': 70, 'DSA':89 ,'AML':69},
        'Mark':     {'OOP': 76, 'FCS': 76, 'DSA':89 ,'AML':77},
        'Mary':     {'OOP': 65, 'FCS': 34, 'DSA':34 ,'AML':88},
        'Anthony' : {'OOP': 34, 'FCS': 90, 'DSA':94 ,'AML':99},
        'Zelda' :   {'OOP': 87, 'FCS': 45, 'DSA':89 ,'AML':76},
        'Quorra' :  {'OOP': 12, 'FCS': 66, 'DSA':50.55 ,'AML':45},
        'Stephan' : {'OOP': 65, 'FCS': 78, 'DSA':67 ,'AML':70}
    }
"""
def q15_min_max_calc(q15_dict):
    q15_min_max ={}
    
    # Write your solution here
    #key = sorted(list())
    for i in q15_dict.keys():
        temp={'max':{'A':0},'min':{'B':100}}
        for k,v in q15_dict[i].items():
            min_val = list(temp['min'].values())[0]
            max_val = list(temp['max'].values())[0]
            if max_val<=v:
                temp['max']={k:v}
            if min_val>=v:
                temp['min']={k:v}
        q15_min_max[i]=temp
    return q15_min_max

q15_min_max_calc({'James': {'OOP': 60, 'FCS': 70, 'DSA': 89, 'AML': 69}, 'Mark': {'OOP': 76, 'FCS': 76, 'DSA': 89, 'AML': 77}, 'Mary': {'OOP': 65, 'FCS': 34, 'DSA': 34, 'AML': 88}, 'Anthony': {'OOP': 34, 'FCS': 90, 'DSA': 94, 'AML': 99}, 'Zelda': {'OOP': 87, 'FCS': 45, 'DSA': 89, 'AML': 76}, 'Quorra': {'OOP': 12, 'FCS': 66, 'DSA': 50.55, 'AML': 45}, 'Stephan': {'OOP': 65, 'FCS': 78, 'DSA': 67, 'AML': 70} })

{'James': {'max': {'DSA': 89}, 'min': {'OOP': 60}},
 'Mark': {'max': {'DSA': 89}, 'min': {'FCS': 76}},
 'Mary': {'max': {'AML': 88}, 'min': {'DSA': 34}},
 'Anthony': {'max': {'AML': 99}, 'min': {'OOP': 34}},
 'Zelda': {'max': {'DSA': 89}, 'min': {'FCS': 45}},
 'Quorra': {'max': {'FCS': 66}, 'min': {'OOP': 12}},
 'Stephan': {'max': {'FCS': 78}, 'min': {'OOP': 65}}}

#### Question 16&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)
You are given a dictionary in `q16_dict`.
Complete the function `q16_swap_dictionary` which swaps `keys` and `values` from q16_dict and stores it in a new dictionary `q16_swaped_dict` with ***keys as values from `q16_dict`*** and ***values as a list of keys from `q16_dict`***.

**Example**

```
q16_dict ={'A': 67, 'B': 23, 'C': 45, 'E': 12, 'F': 69, 'G': 67, 'H': 23}
```
```
q16_swaped_dict = {67: ['A', 'G'], 23: ['B', 'H'], 45: ['C'], 12: ['E'], 69: ['F']}
```


**Hint**: Use loops to iterate over dictionary elements, list and dictionary methods
```
items() to get all the key:value pairs
keys() get all the keys
values() get all the values
```

In [17]:
'''
q16_dict = {'A': 67, 'B': 23, 'C': 45, 'E': 12, 'F': 69, 'G': 67, 'H': 23}
'''

def q16_swap_dictionary(q16_dict):
    q16_swaped_dict ={}
    # Write your solution here
    for k,v in q16_dict.items():
        if v in q16_swaped_dict:
            q16_swaped_dict[v].append(k)
        else:
            q16_swaped_dict[v]=[k]
    return q16_swaped_dict